* {
    --nav-height: 75px;
}
html, body, #main, #container {
    width: 100%;
    height: 100%;
    background-color: #14213D;
    font-family: 'Noto Sans', sans-serif;
}

#nav {
    height: var(--nav-height);
    background-color: #111C35;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-item {
    background-color: inherit;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

.nav-item:hover {
    background-color: white;
    color: #111C35;
}
#nav-logo:hover {
    content:url("/img/black-logo.png");
    width: 32px;
}
#nav a, #hero a {
    text-decoration: none;
    color: inherit;
}
.header {
    font-size: 10vw;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 16px;
}

.text {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 2vw;
}

.text-big {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 200;
    font-size: 4vw;
}

.text-light {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 200;
    font-size: 1.5vw; 
}

.button {
    margin-top: 4vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 4.5vh;
    padding-right: 4.5vh;
    font-weight: bold;
    font-size: 24px;
    color: white;
    background-color: #FCA311;
    border-radius: 2vh;
}

.header-2 {
    font-size: 8vw;
    font-weight: 900;
    margin-top: 12px;
    margin-bottom: 12px; 
}

.header-3 {
    font-size: 7vw;
    font-weight: 900;
    margin-top: 12px;
    margin-bottom: 12px; 
}

.header-4 {
    font-size: 6vw;
    font-weight: 900;
    margin-top: 12px;
    margin-bottom: 12px; 
}

.header-5 {
    font-size: 5vw;
    font-weight: 900;
    margin-top: 12px;
    margin-bottom: 12px; 
}

.header-6 {
    font-size: 4vw;
    font-weight: 900;
    margin-top: 12px;
    margin-bottom: 12px; 
}



/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #14213D;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
  }


/* MEDIA QUERIES GO HERE */